body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.title>h1 {
    text-align: center;
}

.title>button {
    position: absolute;
    top: 4vh;
    right: 1vh;
}

.container {
    display: flex;
    flex-direction: column;
    border: solid 1px #000;
}

.today-is {
    text-align: center;
    background-color: grey;
    color: white;
}

.week-days {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    border: solid 1px #000;
}

.display-grid {
    border: solid 1px #000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
    text-align: center;
}

.day-style {
    outline: black 1px solid;
    min-height: 14vh;
}


/*? MODAL */

.modal-container {
    display: none;
}

.calendar {
    z-index: 1;
    position: relative;
}

.display-none {
    display: none;
}

.modal-display-on {
    z-index: 2;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.849);
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: #fff;
    padding: 1.5vh;
}

.hflex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.form-content {
    padding: 0.5vh;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
}


/* !CHECKBOX */

.check-final {
    display: none;
}

#end-date:checked~.check-final {
    display: block;
}

.check-remind {
    display: none;
}

#remind-me:checked~.check-remind {
    display: block;
}