body {
  z-index: 1;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.title {
  height: 5.51vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color);
}

.title > h1 {
  text-align: center;
  background-color: var(--color);
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: revert;
  text-transform: uppercase;
}

.arrow {
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  border: solid 1px white;
  color: white;
  background-color: var(--color);
  font-size: 2.3vh;
  text-transform: uppercase;
  cursor: pointer;
}
.tasks-title {
  width: 100%;
}
.arrow:hover {
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  border: solid 1px white;
  color: var(--color);
  background-color: white;
  font-size: 2.3vh;
  text-transform: uppercase;
}
.delete-button {
  position: relative;
  text-align: center;

  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
  color: var(--color);
  background-color: white;
  font-size: 1.5vh;
  border: none;
}

.edit-button {
  position: absolute;
  text-align: center;
  left: 0%;
  top: 0%;
  height: 2.5vh;
  width: 2.5vw;
  border-radius: 50%;
  color: white;
  background-color: var(--color);
  font-size: 1.5vh;
  border: none;
}
.add-button {
  position: absolute;
  text-align: center;
  left: 0%;
  top: 0%;
  height: 2.5vh;
  width: 2.5vh;
  border-radius: 50%;
  color: white;
  background-color: var(--color);
  font-size: 1.5vh;
  border: none;
}

.add-button:hover {
  color: var(--color);
  background-color: white;
  border: solid 1px black;
  z-index: 3;
}

.addActivity {
  position: absolute;
  top: 90vh;
  right: 48.5%;
  height: 7vh;
  width: 7vh;
  border-radius: 50%;
  color: white;
  background-color: var(--color);
  font-size: 5.5vh;
  border: none;
  cursor: pointer;
}

.addActivity:hover {
  color: var(--color);
  background-color: white;
  border: solid 1px black;
  z-index: 3;
}

.container {
  display: flex;
  flex-direction: column;
}

.today-is {
  text-align: center;
  background-color: var(--color);
  color: white;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.week-days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  color: white;
  background-color: var(--color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.display-grid {
  border: solid 1px rgba(110, 104, 104, 0.514);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1vw 1vh;
  grid-template-areas: ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . ." ". . . . . . .";
  text-align: center;
}

.day-style {
  min-height: 14vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-height: 14vh;
  cursor: pointer;
}

.tasks-object {
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  background-color: var(--color);
  height: 3vh;
  width: 13.5vw;
  border-radius: 10%;
  color: white;
}

.tasks-object:hover {
  justify-items: stretch;
  background-color: white;
  height: 3vh;
  width: 13.5vw;
  border-radius: 10%;
  color: var(--color);
}

/*? MODAL */

.modal-container {
  display: none;
}

.calendar {
  z-index: 2;
  position: relative;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.display-none {
  display: none;
}

.modal-display-on {
  z-index: 3;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.849);
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #fff;
  padding: 1.5vh;
}

.hflex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.form-content {
  padding: 0.5vh;
  cursor: pointer;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.tasks-modal {
  position: sticky;
  background-color: white;
}

.modal-btn {
  cursor: pointer;
}

/* !CHECKBOX */

.check-final {
  display: none;
}

#end-date:checked ~ .check-final {
  display: block;
}

.check-remind {
  display: none;
}

#remind-me:checked ~ .check-remind {
  display: block;
}

.edit-style {
  visibility: hidden;
}

.trash-style {
  visibility: hidden;
}

.display-block {
  height: 2.5vh;
  width: 2.5vw;
  visibility: visible;
}

.looking {
  transform: scale(0.95);
  border-color: var(--color);
  box-shadow: 0 0 1rem var(--color);
}
.popup {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0vh;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 99, 71, 0.384);
  padding-top: 15vh;
}
.popupContent {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
  margin: 0 auto;
}
.close {
  width: 30px;
  font-size: 20px;
  color: #c0c5cb;
  align-self: flex-end;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}
img {
  width: 82px;
  margin-bottom: 15px;
}
p {
  margin-bottom: 40px;
  font-size: 18px;
}
button.accept {
  background-color: var(--color);
  border: none;
  border-radius: 5px;
  width: 200px;
  padding: 14px;
  font-size: 16px;
  color: white;
  box-shadow: 0px 6px 18px -5px var(--color);
}

:root {
  --color: green;
  --spacing: 10px;
}
